services:
  temperature-logger:
    build: .
    image: temp-logger
    container_name: temp-logger
    devices:
      - "/dev/i2c-1:/dev/i2c-1"
    privileged: true
    volumes:
      - ~/logs:/app/logs
    restart: unless-stopped
